.container{
    background-color: (180deg, #FFFEFA 0%, #FFE031 0%, #FFFEFA 0.01%, #FCFCFC 100%); 
    width: 100%;
    height: 100%;
    margin-top: 5%;
  }

.col_img_container{
    column-width:5%;
}

.desc_text{
    font-weight:bold;
    font-size:large;
    line-height: 25px;
    margin-bottom: 0px;
}

.rating_text{
    line-height: 25px;
    margin-bottom: 0px;
    font-size: medium;
}

.work_time_text{
    font-size:larger;
    line-height: 25px;
    margin-bottom: 0px;
}

.template_columnas{
    width: 100%;
    display: grid;
    grid-template-columns: 300px 400px;
}

.img_restaurant{
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    align-content: center;
}

.col_text{
    align-content: flex-start;
    text-align: left;
}