.home_container{
    background-color:#e2e2e2; 
    width: 100%;
    height: 100%;
    margin-top: 0%;
  }

  .header_home{
    width: 100%;
    height: 15%;
    background-color: #9aac41;
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0%;
   padding: 2%;
  }

  h2{
    font-family: 'Carter One', cursive;
  }

 