.dishes_container{
  background-color: #FBE6C2; 
  width: 100%;
  height: 100%;
  margin-top: 0%;
}

.restaurant_container{
  width: 80%;
  height: 100%;
  display: block;
  position: center;
}

.row {
  display: flex;
  position: center;
  margin-left: 10%;
  margin-right: 10%;
}

.column_left {
  width: 50%;
}

.column_right {
  width: 50%;
}


.img_container{
  margin: auto;
  display: block;
  border-radius: 10%;
}

.h2_text {
  position: center;
  margin-bottom: 2%;
  color: #e63030;
  text-align: center;
}

.desc_text{
  font-weight:bold;
  font-size:large;
  line-height: 25px;
  margin-bottom: 0px;
}

.container_restaurant{
display: flex;
justify-content: center;
}

.margins{
margin-top: 5%;
margin-bottom: 0%;
font-size: large;
}

.col_img_container{
border-bottom-right-radius: 10%;
border-bottom-left-radius: 10%;
border-top-left-radius: 10%;
border-top-right-radius: 10%;
align-content: center;
}

.header_home{
  width: 100%;
  height: 15%;
  background-color: #F48B29;
  display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 0%;
 padding: 2%;
}

h1{
  font-family: 'Carter One', cursive;
}

.logo_container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.footer_home{
  width: 100%;
  height: 15%;
  background-color: #F48B29;
  padding: 2%;
}